
body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.day:hover {
  stroke: black;
  stroke-width: 1px;
}

.month {
  fill: none;
  stroke: #FFF;
  stroke-width: 2px;
}

div.main
{
	width: 802px;
	margin-left: 60px;
}

.RdYlGn .q0-11{fill:#EEEEEE}
.RdYlGn .q1-11{fill:#D6E685}
.RdYlGn .q2-11{fill:#8CC665}
.RdYlGn .q3-11{fill:#44A340}
.RdYlGn .q4-11{fill:#1E6823}

div.main
{
	 -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main h3
{
	background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    line-height: 26px;
    margin: 0;
    padding: 10px;
}

text.text-month {
    fill: #AAAAAA;
    font-size: 10px;
}

.custom-tooltip .qtip-content
{
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #2D2D2D;
}

div.additional-container
{
  border-top: 1px solid #DDDDDD;
}

div.additional
{
  -moz-box-sizing: border-box;
    border-left: 1px solid #DDDDDD;
    border-top: none;
    color: #999999;
    padding: 10px 0 0;
    text-align: center;
    float: left;
    margin-left: 0px;
}

div.additional:first-child
{
  border-left: medium none;
}

div.additional:last-child
{
  border-right: medium none;
}

div.additional span
{
  width: 100%;
  float: left;
}

div.additional span.title1
{
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

div.additional span.title2
{
  color: #999999;  
  text-align: center;
  font-size: 13px;
}

div.additional span.title3
{
  border-top: 1px solid #F7F7F7;
  color: #777777;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0;
}


.progress-striped .bar {
  background-size: 500px 500px;
  font-size: 10px;
  text-align: left
}

.progress-striped .bar h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

.progress-striped div div.first span{
  font-size: 38px;
  font-weight: bold;
}

.progress-striped .bar div {
  font-size: 22px;
  font-weight: bold;
}

.progress-striped .bar div {
  padding-left: 15px;
  }

.progress-striped .bar div:nth-child(2) {
  padding-left: 50px;
}

div.nav-collapse
{
  font-size: 14px;
}

div.item.bar {
  font-size:2em;
  padding-top:15px;
  font-weight:bold;
}

div.progress.progress-striped
{
  height: 150px;
}

span.subcolumn {
  float:left;
  width: 100%;
}



 body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

.TnITTtw-help-selected-wrap {
  border: 1px solid #C7C6C2;
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.325);
  border-radius: 4px;
  width: 231px
}

  .TnITTtw-help-inside-layout {
    height: 133px;
    background: #F5F5F5;
    border-radius: 3px
  }

    .TnITTtw-left-particle {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: inset 0 1px 0 white;
      color: #4E4E4E;
      text-shadow: 0 1px 0 white;
      width: 194px;
      display: inline-block;
      border-right: 1px solid #D9D9D9
    }

      .TnITTtw-content-layout {
        text-align: left;
        margin: 10px 15px
      }

        .TnITTtw-variant-bunch-wrap {

        }

          .TnITTtw-variant-bunch-wrap .inside-layout {

          }

            .TnITTtw-main-variant-wrap {

            }

              .TnITTtw-main-variant {
                font-weight: 700;
                font-size: 15px;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.775);
                display: inline-block;
                vertical-align: top;
                color: #2B2B2B
              }

            .TnITTtw-variants-by-pos {

            }

              .TnITTtw-TnITTtw-variant-row {
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.775)
              }

                .TnITTtw-v-pos {
                  font-weight: 700;
                  margin-top: 10px;
                  font-size: 12px;
                  color: #545454
                }

                  .TnITTtw-v-pos:first-child {
                    margin-top: 8px
                  }

                .TnITTtw-v-closest-wrap {
                  font-size: 13px;
                  color: #4E4E4E
                }

                  .TnITTtw-v-item {
                    display: inline-block
                  }

        .TnITTtw-listen-disabled {
          opacity: 0.475;
          cursor: default
        }

    .TnITTtw-right-particle {
      background: rgba(255, 255, 255, 0.125);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: inline-block;
      width: 36px;
      height: 133px;
      vertical-align: top;
      box-shadow: inset 1px 0 3px rgba(43, 43, 43, 0.05), inset 0 1px 0 #F5F5F5
    }

      .TnITTtw-sidebar {

      }

        .TnITTtw-sbutton {
          position: absolute;
          -webkit-user-select: none;
          cursor: pointer
        }

        .TnITTtw-listen-button {
          width: 16px;
          height: 17px;
          background: url(chrome-extension://ihmgiclibbndffejedjimfjmfoabpcke/resources/images/sprites/sprite.png);
          background-position: -54px 153px;
          margin: 10px 0 0 10px
        }

          .TnITTtw-listen-button:active, .TnITTtw-listen-disabled {
            background-position: -54px 136px
          }

/* ========== */
/* Scrollbars */

#TnITTtw-trVisibleLayout {
  position: relative !important;
  overflow: hidden;
  height: 133px;
  width: 100%
}

#TnITTtw-tr-scrollbar {
  position: absolute;
  display: block;
  width: 9px;
  height: 135px;
  font-size: 1px
}

#TnITTtw-track {
  position: absolute;
  left: 185px;
  top: -134px;
  width: 11px;
  height: 129px;
  background: transparent
}

#TnITTtw-dragBar {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 5px;
  height: 10px;
  background: rgba(43, 43, 43, 0.475);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 1px 0 #FFF
}

  #TnITTtw-dragBar:hover, #TnITTtw-dragBar:active {
    background: rgba(43, 43, 43, 0.775)
  }

#TnITTtw-scrollbar, #TnITTtw-track, #TnITTtw-dragBar {
  -webkit-user-select: none
}</style><style type="text/css">#TnITTtw-tooltip-wrap {
  position: absolute;
  z-index: 9999;
  font-family: Tahoma;
  font-size: 13px;
  line-height: normal
}

  .TnITTtw-inside-layout {

  }

    .TnITTtw-content {

    }</style><style type="text/css">#TnITTtw-tooltip-wrap {
  position: absolute;
  z-index: 9999;
  font-family: Tahoma;
  font-size: 13px;
  line-height: normal
}

  .TnITTtw-inside-layout {

  }

    .TnITTtw-content {

    }</style><style type="text/css">.TnITTtw-arrow {
  display: none;
  width: 12px;
  height: 6px;
  background: url(chrome-extension://ihmgiclibbndffejedjimfjmfoabpcke/resources/images/sprites/sprite.png);
  position: relative
}

.TnITTtw-top-arrow {
  background-position: -108px 148px;
  bottom: -1px
}

.TnITTtw-bottom-arrow {
  background-position: -108px 154px;
  top: -1px
}